*.jpg
*.jpeg
*.ppm
*.cfg
.idea/**
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
dataset/**
dataset
dataset/training
dataset/training/*
dataset/training/*.*
/dataset/training/*.*
/output/
/Scripts/
/Lib/site-packages/
/.idea/
